 <footer class="bg-secondary text-light py-4 px-1 footer-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="content-box brand p-3 m-2">
              <h3 class="sedan-sc-regular centre">Dungeons & Dragons</h3>
              <p class="sedan-sc-regular centre">Character Creation</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>For the community</h5>
            <p class="cs-footer-text">
            Wizards of the Coast, Dungeons & Dragons, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2015 Wizards. All Rights Reserved.
            DnD Dice Roller is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. DnD Dice Roller may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy. For example, Dungeons & Dragons® is a trademark of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at www.wizards.com.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <br class="social-icons">
              <span>Follow Us</span>
              <br>
              <a href=""><i class="fab fa-facebook fa-2x"></i></a>
              <a href=""><i class="fab fa-instagram fa-2x"></i></a>
              <a href=""><i class="fab fa-twitter fa-2x"></i></a>
              <a href=""><i class="fab fa-youtube fa-2x"></i></a>
              <a
                href="https://github.com/SouptheFull-Stack/DND-Character-Builder-and-Database"><i class="fab fa-github fa-2x"></i></a>
            </div>
          </div>
        </div>
        <div class="text-center">
          <small>&copy; 2024 <b>Group 2</b> - all rights reserved</small>
          <br />
          <small>Logo designed by
            <a href="https://www.freepik.com/">Freepik</a></small>
        </div>
    </footer>