<main>
  <div class="races">
    <h2>Races</h2>
    <div href="#">
      <ul class="dropDown-Races">
        {{#each race as |race|}}
          <li>{{race.race}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="races">
    <h2>Races</h2>
    <div href="#">
      <ul class="dropDown-Races">
        {{#each race as |race|}}
          <li>{{race.race}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>