{{!-- Put the main homepage html here and insert whatever other handlebars we have  --}}
<div class="Home-Page">
    <h1>
  WANT TO PLAY
    </h1>
    <button href="../views/login.handlebars" class="btn-logIn">Play Now</button>
</div>
<div>
    <ul class="section">
        <li href="../views/login.handlebars" class="categories">Create New Character</li>
        <li href="../views/info.handlebars" class="categories">More Info</li>
        <li href="#" class="categories">Create New Character</li>
    </ul>
</div>