{{!-- putting condition on homepage to then render the overlay for the hero, but don't want on other pages --}}
<div class="overlay py-5"> 
    {{!-- homepage-body --}}
    {{!-- Put the main homepage html here and insert whatever other handlebars we have --}}
    <div class="home-page pb-5">
        <section class="d-flex justify-content-evenly align-items-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                        <img src="/images/card1.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content-start">
                            <br>
                            <h5>Choose your adventure...</h5>
                            <br>
                            <p>In the multiverse of Dungeons & Dragons there are near limitless opportunies for exploration and journeying.</p>
                            <br>
                            <p>Gather a party of fellow adventurers and set off on a journey of your choosing whether it is an already designed story, or one from your imagination.</p>
                            <br>
                            <p>Create your own hero or villain and choose what characteristics define them.</p>
                            <br>
                            <p>Quest from place to place encountering allies or battling foes. Dictate how your character interacts with the environment and world around whilst on their journey.</p>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">How to Start</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                        <img src="/images/card4.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content-character">
                            <br>
                            <h5>Pick who you will be...</h5>
                            <br>
                            <p>Add a character to your profile and choose the following details</p>
                            <br>
                            <p class="text-danger mb-1">Alignment</p>
                            <p>The morality of your character is charted by their alignment and affects the decisions they may make on their adventure. Are you a noble knight or a deranged necromancer, your alignment may very well have influence on this.</p>
                            <br>
                            <p class="text-danger mb-1">Class</p>
                            <p>The primary definition of what your character can do. It’s more than a profession; it’s your character’s calling. Class shapes the way you think about the world and interact with it.</p>
                            <br>
                            <p class="text-danger mb-1">Subclass</p>
                            <p>The niche of your profession, highlighting a particular area in your class your character excels at.</p>
                             <br>
                            <p class="text-danger mb-1">Race</p>
                            <p>The worlds of Dungeons & Dragons comprise of people of varying size, shape, and color, dressed in a spectrum of styles and hues. This is representative of the many different races of the multiverse, from diminutive halflings and stout dwarves to hulking dragonborns to mystic Gith.</p>
                        </div>
                        <a href="/characters/create"><button class="flip-card-btn">Click Here</button></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">Create A New Character</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">

                        <img src="/images/card5.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content-roll">
                            <br>
                            <h5>Try your luck...</h5>
                            <br>
                            <p>Rolling die is an integral part of Dungeons & Dragons and is central to resolving various actions, especially in combat.</p>
                            <br>
                            <p>From attacks to spells and healing, each roll involves throwing dice and adding any relevant modifiers or bonuses. Whether facing foes or casting spells, the roll's result often decides success or failure.</p>
                            <br>
                            <p>In general, the D4, D6, D8, D10 and D12 are used for weapons damage, attacks, spells and healing amounts. D20 dice are used most often to see if an attempted action succeeds.​</p>
                            <img src="/images/dice1.png" alt="" class="dice-img">
                        </div>
                        <a href="/dice"><button class="flip-card-btn">Click Here</button></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="mt-1 text-center">Roll A Die or Two</h1>
                </div>
            </div>
        </section>
    </div>
    <br>
    <br>
    <br>
</div>

