{{!-- putting condition on homepage to then render the overlay for the hero, but don't want on other pages --}}
{{#if isHomePage}}
<div class="overlay py-5"> 
    {{!-- homepage-body --}}
    {{!-- Put the main homepage html here and insert whatever other handlebars we have --}}
    <div class="home-page pb-5">
        <section class="d-flex justify-content-evenly align-items-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <a href="#"></a><img src="/images/h6.jpg" alt="" class="flip-img"></a>
                    </div>
                    <div class="flip-card-back">
                       <a href="#"><img src="/images/h6.jpg" alt="" class="flip-img"></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">How to Start</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img href="/characters/create" src="/images/h8.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <a href="/characters/create"><img src="/images/h9.png" alt="" class="flip-img"></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">Create A New Character</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <a href="/dice"><img id="diceLink" src="/images/h5.jpg" alt="image of a man crouched behind stone, weary of the giant red dragon waiting for him to meet his demise" class="flip-img"></a>  
                    </div>
                    <div class="flip-card-back">
                        <a href="/dice"><img id="diceLink" src="/images/h5.jpg" alt="image of a man crouched behind stone, weary of the giant red dragon waiting for him to meet his demise" class="flip-img"></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="mt-1 text-center">Roll A Die or Two</h1>
                </div>
            </div>
        </section>
    </div>
    <br>
    <br>
</div>
{{/if}}
