{{!-- Put the main homepage html here and insert whatever other handlebars we have  --}}<div class="Home-Page">
    <h1>
  WANT TO PLAY
    </h1>
    <button href="#" class="btn-logIn">Play Now</button>
</div>
<div>
    <ul class="section">
        <li href="#" class="categories">Create New History</li>
        <li href="#" class="categories">More Info</li>
        <li href="#" class="categories">Create New Character</li>
    </ul>
</div>