<div class="homepage-body py-5">
    {{!-- Put the main homepage html here and insert whatever other handlebars we have --}}
    <div class="home-page pb-5">
        <section class="d-flex justify-content-evenly align-items-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/h6.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <h3></h3>
                        <p>information...</p>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">How to Start</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/h2.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <a href="/characters/create"><button class="btn btn-secondary">Click Here</button></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">Create A New Character</h1>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/h5.jpg" alt="" class="flip-img">
                    </div>
                    <div class="flip-card-back">
                        <p>Try your luck with </p>
                        <a href="/dice"><button class="btn btn-secondary">Click Here</button></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="mt-1 text-center">Roll A Die or Two</h1>
                </div>
            </div>
        </section>
    </div>
    <br>
    <br>
</div>