<div class="info-container">
  <div class="info-rules">
    <h2>How to play</h2>
    <hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
  <div class="info-Characters">
    <h2>creation of characters</h2>
    <hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
  <div class="info-History">
    <h2>creation of histories</h2>
    <hr />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
</div>