<div class="info-container">
  <div class="info-rules">
    <button class="info-button">How to play</button>
    <hr />
    <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
  <div class="info-Characters">
    <button class="info-button">creation of characters</button>
    <hr />
    <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
  <div class="info-History">
    <button class="info-button">creation of histories</button>
    <hr />
    <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo est
      maxime eaque optio rerum eligendi molestiae reprehenderit sunt repudiandae
      distinctio, nihil eum itaque, quod asperiores at consectetur, deleniti
      totam!</p>
  </div>
</div>

<script href="/public/js/info.js"></script>