<div class="welcome-User">
  <div class="background">
    <h1>Welcome, {{$user.name}}!</h1>
  </div>
  <div class="wrapper">
    <div class="Characters">
      <h2> Your characters:</h2>
      <ul class="dropDown-Characters">
        {{#each users as |user|}}
          <li>{{characters.user}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="Histories">
      <h2> Your histories:</h2>
      <ul class="dropDown-Histories">
        {{#each historyData as |user|}}
          <li>{{user.user}}</li>
        {{/each}}
      </ul>
    </div> 
    <div class="Information">
      <button href="../views/info.handlebars">More Info</button>
    </div> 
  </div>
</div>