:root {
  --white: #ffffff;
  --accent: #ff4155;
  --dark: #212529;
}

@font-face {
  font-family: "dungeon";
  src: url("./dungeon.TTF");
}

#charNames {
  font-family: "dungeon";
  font-size: 6em;
}

.card {
  display: inline-block;
}

.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.navlogo {
  width: 100px;
  height: 100px;
}
.navbar-nav {
  justify-content: space-between;
}

.navbar-nav .nav-link {
  font-size: 20px;
  width: 100%;
  display: block;
}
footer a {
  color: inherit;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.centre {
  text-align: center;
}

.brand {
  background-color: var(--dark);
  color: #ff4155;
}

.content-box {
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em 0.5em var(--accent);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
}

footer{
    bottom: 0;
    width: 100%;
}
.footer-body {
  display: inline-block;
  align-items: center;
}

form {
  max-width: 600px;
}

.is-hidden {
  display: none;
}
