:root {
  --white: #ffffff;
  --accentRed: #ff4155;
  --dark: #212529;
  --accentYellow: #b79001;
  --transparentWhite: rgba(255, 255, 255, 0.6);
}

@font-face {
  font-family: "dungeon";
  src: url("./dungeon.TTF");
}

@font-face {
  font-family: "king";
  src: url("./king.ttf");
}

@font-face {
  font-family: "ringbearer";
  src: url("./ringbearer.TTF");
}

h1 {
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 6em;
  color: var(--accentYellow);
}

h2 {
  font-size: 3em;
  color: var(--accentYellow);
}

main {
  background-image: url("../images/h1.jpg");
  background-size: auto;
  /* background-position: center; */
  background-repeat: repeat-y;
  /* height: 90em; Full height */
  /* display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center; */
}

.charNames {
  font-family: "dungeon", Arial, sans-serif;
  font-size: 5em;
  color: var(--accentYellow);
}

.accordian-item .accordian-button .accordian-header {
  background-color: var(--accentYellow);
}

.accordion-body {
  overflow: hidden; /* Prevent unexpected overflow */
  background-color: var(--dark);
  color: var(--white);
}

.accordion-card {
  width: 45%; /* Adjust as needed */
  min-width: 300px; /* Ensure minimum size */
  margin: 10px; /* Spacing between cards */
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

/* .accordian-button .accordian-header {
  background-color: #242c33;
} */

.card-body {
  flex-grow: 1;
}

.card {
  background-color: var(--dark);
  display: flex;
  padding: 1em;
  flex-direction: column;
  height: 100%; /* Ensure card takes full height */
}

.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.navlogo {
  width: 100px;
  height: 100px;
}
.navbar-nav {
  justify-content: space-between;
}

.navbar-nav .nav-link {
  font-size: 20px;
  width: 100%;
  display: block;
}

footer a {
  color: inherit;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.centre {
  text-align: center;
}

.brand {
  background-color: var(--dark);
  color: var(--accentRed);
}

.content-box {
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em 0.5em var(--accent);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
}

footer {
  /* bottom: 0; */
  width: 100%;
}
.footer-body {
  display: inline-block;
  align-items: center;
}

form {
  max-width: 600px;
}
form h2 {
  color: #9d7d06;
  font-size: 45px;
  font-family: "dungeon", Arial, sans-serif;
}
.container {
  justify-content: center;
  align-items: center;
}
.login-container,
.create-container,
.register-container {
  padding: 20px;
  border: solid 1px #c8c8c8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px) ;
  background-color: var(--transparentWhite);
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9d7d06;
  color: var(--white);
  cursor: pointer;
}
.is-hidden {
  display: none;
}

h4 {
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 3em;
  color: var(--accentYellow);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 650px;
  height: 700px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(
    0deg,
    rgba(128, 161, 255, 1) 0%,
    rgba(14, 11, 22, 1) 100%
  );
  color: white;
  transform: rotateY(180deg);
}

.flip-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-body {
  background-color: rgba(0, 0, 0, 0.4);
}

.dice {
  background-color: var(--transparentWhite);
  border-radius: 1em;
  padding: 0.5em;
}

.modifier {
  width: 7em;
}

#log {
  background-color: var(--transparentWhite);
  margin: 0.2em;
  border-radius: 1em;
}

.wholepage {
  display: flex;
  flex-direction: column;
}

.finalres {
  background-color: var(--accentYellow);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.result {
  background-color: var(--accentYellow);
}

.pad-it {
  padding: 0.5em;
}

h5 {
  color: #912630;
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 2em;
}