:root {
  --white: #ffffff;
  --accentRed: #ff4155;
  --dark: #212529;
  --accentYellow: #b79001;
  --darkHigh: #2a3642;
  --transparentWhite: rgba(255, 255, 255, 0.6);
}

/* this is to make the body content not get stuck at the top, so it looks neater and is spaced for everything automatically */
main {
  margin-top: 6em;
}

body {
  height: 80em;
  background-image: url("../images/h1.jpg");
  background-size: auto;
  /* background-position: center; */
  background-repeat: repeat-y;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  position: relative;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black color */
  z-index: -1; /* Ensure the overlay is behind the content */
}

/* FONTS */
@font-face {
  font-family: "dungeon";
  src: url("./dungeon.TTF");
}

@font-face {
  font-family: "king";
  src: url("./king.ttf");
}

@font-face {
  font-family: "ringbearer";
  src: url("./ringbearer.TTF");
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

/* BELOW ARE CSS STYLES FOR NAV HEADER */

.navlogo {
  width: 100px;
  height: 100px;
}

.navbar-nav .nav-link {
  font-size: 1.5em;
  width: 100%;
  margin-right: 1em;
}

.cs-h1 {
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 5em;
  /* adjusting the margin to not go too low from main margin */
  margin-top: -0.5em;
  color: var(--accentYellow);
}

h2 {
  font-size: 3em;
  color: var(--accentYellow);
}

.cs-h3 {
  font-size: 2.5em !important;
}

.cs-h3-info {
  font-size: 7em;
  font-family: "ringbearer", Arial, sans-serif;
  color: var(--accentYellow);
}

.cs-p1 {
  font-size: 1.5m !important;
}

.cs-charNames {
  font-family: "dungeon", Arial, sans-serif;
  font-size: 6em;
  /* color: var(--accentYellow); */
}

.cs-charInfo {
  font-size: 5em;
  font-family: "king", Arial, sans-serif;
}

.charStory {
  font-size: 3em;
  color: var(--accentYellow);
  font-family: "king", Arial, sans-serif;
}

/* BELOW IS THE COPY EDIT AS NEEDED */
.accordion-item {
  /* #445d77; */
  /* #364d66; */
  background: #4e6883;
  border: none;
}

.accordion-button {
  font-size: 0.38em;
  background: transparent;
  font-weight: 500;
  color: black;
}

.accordion-button:not(.collapsed) {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  box-shadow: none;
}

.accordion-button::after {
  background-image: none;
  color: black;
  content: "\f0d7";
  width: auto;
  height: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-body,
.stats > p {
  overflow: hidden;
  background-color: var(--dark);
  color: var(--accentYellow);
  font-size: 1.5em;
}

.accordion-card {
  width: 20%;
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

.card {
  background-color: var(--dark);
  display: flex;
  padding: 1em;
  flex-direction: column;
  height: 100%;
}

#charOneLinks:hover {
  color: var(--accentYellow);
  opacity: 0.3;
  transition: color 0.3s, opacity 0.3s;
}

footer a {
  color: inherit;
}

.centre {
  text-align: center;
}

.brand {
  background-color: var(--dark);
  color: var(--accentRed);
}

.content-box {
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em 0.5em var(--accent);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
}

footer {
  width: 100vw;
  height: 20%;
}

.footer-body {
  /* display: inline-block; */
  /* margin-bottom: -60px; */
  align-items: center;
}

form {
  max-width: 600px;
}

form h2 {
  color: #9d7d06;
  font-size: 45px;
  font-family: "dungeon", Arial, sans-serif;
}
.container {
  justify-content: center;
  align-items: center;
}

.login-container,
.create-container,
.register-container,
.charactersMain-container,
.characterOne-container {
  padding: 20px;
  border: solid 1px #c8c8c8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  background-color: var(--transparentWhite);
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9d7d06;
  color: var(--white);
  cursor: pointer;
}
.is-hidden {
  display: none;
}

h4 {
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 3em;
  color: var(--accentYellow);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 650px;
  height: 700px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 60px;
  border: none;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(
    0deg,
    rgb(88, 108, 163) 0%,
    rgba(14, 11, 22, 1) 100%
  );
  /* rgba(128, 161, 255, 1) 0%, made the colour just slightlly darker */
  color: white;
  transform: rotateY(180deg);
}

.flip-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 60px;
  border: none;
}

.homepage-body {
  background-color: rgba(0, 0, 0, 0.7);
}

.dice {
  background-color: var(--transparentWhite);
  border-radius: 1em;
  padding: 0.5em;
}

.modifier {
  width: 7em;
}

#log {
  background-color: var(--transparentWhite);
  margin: 0.2em;
  border-radius: 1em;
}

.wholepage {
  display: flex;
  flex-direction: column;
}

.finalres {
  background-color: var(--accentYellow);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.result {
  background-color: var(--accentYellow);
}

.pad-it {
  padding: 0.5em;
}

h5 {
  color: #912630;
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 2em;
}

.cs-footer-text {
  font-size: 0.7em;
}
