:root {
  --white: #ffffff;
  --accent: #ff4155;
  --dark: #212529;
}

.background {
  height: 8em;
}

main {
  height: 8em;
}

@font-face {
  font-family: "dungeon";
  src: url("./dungeon.TTF");
}

@font-face {
  font-family: "king";
  src: url("./king.ttf");
}

@font-face {
  font-family: "ringbearer";
  src: url("./ringbearer.TTF");
}

h1 {
  font-family: "ringbearer", Arial, sans-serif;
  font-size: 6em;
  color: #b79001;
}

.hero {
  background-image: url("../images/h1.jpg");
  background-size: auto;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 90em; /* Full height */
  /* display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center; */
}

.charNames {
  font-family: "dungeon", Arial, sans-serif;
  font-size: 5em;
  color: #b79001;
}

.accordian-item .accordian-button .accordian-header {
  background-color: #b79001;
}

.accordion-body {
  overflow: hidden; /* Prevent unexpected overflow */
  background-color: var(--dark);
  color: white;
}

.accordion-card {
  width: 45%; /* Adjust as needed */
  min-width: 300px; /* Ensure minimum size */
  margin: 10px; /* Spacing between cards */
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

/* .accordian-button .accordian-header {
  background-color: #242c33;
} */

.card-body {
  flex-grow: 1;
}

.card {
  background-color: var(--dark);
  display: flex;
  padding: 1em;
  flex-direction: column;
  height: 100%; /* Ensure card takes full height */
}

.navbar {
  padding-left: 100px;
  padding-right: 100px;
}

.navlogo {
  width: 100px;
  height: 100px;
}
.navbar-nav {
  justify-content: space-between;
}

.navbar-nav .nav-link {
  font-size: 20px;
  width: 100%;
  display: block;
}
footer a {
  color: inherit;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.centre {
  text-align: center;
}

.brand {
  background-color: var(--dark);
  color: #ff4155;
}

.content-box {
  border-radius: 1em;
  box-shadow: 0em 0em 0.5em 0.5em var(--accent);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
}

footer{
    bottom: 0;
    width: 100%;
}
.footer-body {
  display: inline-block;
  align-items: center;
}

form {
  max-width: 600px;
}

.is-hidden {
  display: none;
}
